@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Lxgw";
	src: url("/fonts/Lxgw.woff2") format("woff2");
	font-display: swap;
}

/* 应用级基础样式（保持最小；尽量让 Nuxt UI 主导整体样式） */
html,
body,
#app {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "MapleMono", "Lxgw", sans-serif;
}

/* 全局隐藏滚动条 */
* {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
	display: none; /* Chrome/Safari/Webkit */
}
