@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

/* 应用级基础样式（保持最小；尽量让 Nuxt UI 主导整体样式） */
html,
body,
#app {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "Plus Jakarta Sans", sans-serif;
}

/* 全局隐藏滚动条 */
* {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
	display: none; /* Chrome/Safari/Webkit */
}
